* {
    box-sizing: border-box;
    
}

body {
    width: 90%;
    margin: 80px auto;
    font-size: 15px;
    font-family: "League Spartan", sans-serif;
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, 300px;
    background-size: contain;
}

h1 {
    font-size: 45px;
    -webkit-text-stroke: 0.5px;
}

h2 {
    padding-bottom: 30px; 
}

p, h2 {
    line-height: 23px;
}

h2, h3, h4, h5, h6, p {
    font-size: 18px;
}

h6{
    font-weight: 400;
}

h1, h2 {
    text-align: center;
}

.star_rate_container {
    background-color: hsl(300, 24%, 96%);
    text-align: center;
    border-radius: 10px;
    margin: 15px 0;
    padding: 17px 0 3px;
}

.margin-bottom {
    margin-bottom: 50px;
}
.buyers_profile {
    background-color:  hsl(300, 43%, 22%);
    padding: 20px;
    margin: 20px 0; 
    border-radius: 10px;
}

.profile_photo {
    display: block;
    line-height: 0;
    font-size: 0;
    width: 50px;
    border-radius: 50%;
    float: left; 
    margin-right: 20px;
}

p {
    margin: -20px 0 10px;
}

h5 {
    padding: 5px 0 0;
    margin: 0;
}

h6::after {
    content: "";
    clear: both;
    display: table;
}

h1, h3 {
    color: hsl(300, 43%, 22%);
}

h2 {
    color:  hsl(303, 10%, 53%);
}

h5, p {
    color: hsl(0, 0%, 100%);
}

h5 {
  margin-bottom: -35px;
}

h6 {
    color: hsl(333, 80%, 67%);
}

@media screen and (min-width: 900px) {
    body {
        max-width: 80%;
        margin: 50px auto;
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: -450px -130px, 350px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    .container-1 {
        display: flex;
        gap: 50px;
    }

    .title {
        flex: 1;
    }

    h1 {
        font-size: 50px;
        max-width: 350px;
        margin-bottom: 30px;
    }

    h2 {
        margin-right: 135px
    }

    h1, h2 {
        text-align: left;
    }

    .flexcontainer-for-star-rate {
        flex: 1;
        align-self: center;
    }

    .star_rate_container {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: start;
        padding: 0px 30px 0;
    }

    .title {
        align-self: flex-start;
    }

    .review {
        width: calc(100% - 80px);
    }

    .guru {
        position: relative;
        left: 50px; 
        width: calc(100% - 90px);   
    }

    .bitech {
        position: relative;
        left: 100px;
        width: calc(100% - 100px);
    }

    .container-2 {
        display: flex;
        gap: 20px;
    }

    .profile-2 {
        position: relative;
        top: 20px;
    }

    .profile-3 {
        position: relative;
        top: 40px;
    }
}


